.label {
  -fx-font-family: "Roboto Medium";
  -fx-text-fill: #212121;
}
.label-bottom-right {
  -fx-font-family: "Roboto Medium";
  -fx-font-size: 16px;
}
.title {
  -fx-font-family: "Roboto Light";
  -fx-font-size: 28px;
}
.subtitle {
  -fx-font-family: "Roboto Medium";
  -fx-font-size: 20px;
}
.exercise {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 28px;
}
.label-light {
  -fx-font-family: "Roboto Light";
  -fx-font-size: 18px;
}
.label-bold {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 18px;
}

.jfx-button {
  -fx-font-size: 14px;
  -fx-text-fill: WHITE;
  -fx-font-family: "Roboto Light";
}

.input-exercise {
  -fx-font-size: 20px;
}

.jfx-text-field {
  -fx-font-family: "Roboto Medium";
}
.jfx-check-box {
  -fx-font-family: "Roboto Medium";
}

.jfx-tool-bar{
  -fx-background-color: #2196F3;
}
.jfx-tool-bar .stack-pane {
  -fx-padding: 0 15px;
}
.jfx-tool-bar .jfx-button {
  -fx-background-color: transparent;
}
.jfx-tool-bar .glyph-icon {
  -fx-fill: #ffffff;
  -fx-padding: 0;
}
.jfx-tool-bar .label {
  -fx-text-fill: WHITE;
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 25px;
  -fx-padding: 0 30px;
}

.blue-button-icon .glyph-icon {
  -fx-fill: #2196F3;
  -fx-ripper-fill: #2196F3;
}

.gray-button-icon .glyph-icon {
  -fx-fill: #607D8B;
  -fx-ripper-fill: #607D8B;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-font-size: 14px;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;   
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081; 
}